body{
    background-color: #ffffff;
    color: #000000;
    font-family: 'League Spartan', sans-serif;
    
}

#main-title{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-decoration-color: #ffffff;
    text-decoration-thickness: 2px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1200px;
}